.media-collection {
    padding: 5px;
}

#favorites-collection {
    background-color: gold;
    border-radius: 5px;
    padding-left: 5px;
}

.media-container {
	width: 100px;
	height: 100px;
	margin: 5px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.remove-button {
	width: 20px;
	height: 20px;
	visibility: hidden;
	position: absolute;
	right: 2px;
	top: 2px;
	opacity: 0.5;
	background-color: lightgray;
	background-image: url(remove.png);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
}

.media-container:hover .remove-button {
	visibility: visible;
}

.media-container img {
	max-width: 100px;
	max-height: 100px;
	display: inline-block;
	margin: auto;
	vertical-align: middle;
}
